
html,body
{
    margin:0;
    height: 125%;
    width: 100%;
}
.Head_bar
{
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 400;
    background:#00BFFE;
    width: 40%;
    height: 50%;
    text-align: center;
    text-transform: uppercase;
}
.Image
{
    margin: auto;
    max-width: 400px;
    padding-top: 5%;
}
.Image img {
    width: 100%;
}
.life
{
    padding-top: 1%;
}
.bot_text
{
    text-align: center;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}
